<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/post">Create post</a></li>
            <li><a href="/">about</a></li>
        </ul>
    </nav>

    {{{body}}}

    <script src="/index.js"></script>
</div>
</body>
</html>