<div class="row">
    <div class="mx-auto col-8">
    {{!-- enctype="multipart/form-data" --}}
    <form action="/create" method="POST">

        <div class="form-group">
            <label for="title">Post title:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter post title" >
        </div>
        <div class="form-group">
            <label for="body">Post body:</label>
            <textarea name="body" id="body" class="form-control">Welcome to TinyMCE!</textarea>
        </div>

        <div class="form-group">
            <label for="tags">Post tags:</label>
            <input type="text" class="form-control" name="tags" id="tags" placeholder="tag1,tag2,tag3" >
        </div>

        {{!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            <div class="custop-file">
                <input type="file" name="post-thumbnail" class="custom-file-input" id="inputGroupFile">
                <label for="inputGroupFile" class="custom-file-input">choose file:</label>
            </div>
        </div> --}}

        <input type="file" name="image" id="fileInput">
        <input type="submit" value="save" style="padding: 7px 30px; border-radius: 25px; margin-top: 5px; background-color:rgb(42, 107, 226); color: white; border: 0px solid">
    </form>
</div>
</div>

<script src="https://cdn.tiny.cloud/1/hh1q5ttc1j1t1mc24640dgf3guhvnfyxn3ufsa6d6gs4r0b3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',

      toolbar: 'bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | forecolor backcolor emoticons | code preview |casechange checklist',
      toolbar_mode: 'floating',
      automatic_upload_url: '/uploads/postimage'
      image_upload_url: function(blobInfo,success,failure){
                let headers = new Headers();
                headers.append('Accept','Application/JSON');

                let formData = new FormData();
                formData.append('post-image',blobInfo.blob(), blobInfo.filename());

                let req = new Request('/uploads/postimage',{
                    method: 'POST',
                    headers,
                    mode: 'core',
                    body: formData
                })
                fetch(req)
                    .then(res=>res.json())
                    .then(data=>success(data.imgUrl))
                    .catch(err=>failure('HTTP Error'))
      }
    });
  </script>