
<div class="row">
    <div class="col-6 mx-auto">
        <form action="/update/{{post._id}}" method="post">
            <div class="form-group">
                <label for="title">Post title:</label>
                <input type="text" value="{{post.title}}" class="form-control" name="title" id="title" placeholder="Enter post title" >
            </div>
            <div class="form-group">
                <label for="body">Post title:</label>
                <input type="text" value="{{post.body}}" class="form-control" name="body" id="body" placeholder="Enter post title" >
            </div>
            <div class="form-group">
                <label for="author">Post title:</label>
                <input type="text" value="{{post.author}}" class="form-control" name="author" id="author" placeholder="Enter post title" >
            </div>
            <a> <button class="btn btn-warning btn-block">save</button> </a>
        </form>
    </div>
</div>